[alias]
    # basic
    ai = add --interactive
    amend = commit --amend
    br = branch
    branch = branch -ra
    ca = commit --amend
    caa = commit -a --amend -C HEAD
    ci = commit
    cl = clone
    cm = commit -m
    cma = commit -a -m
    co = checkout
    cp = cherry-pick
    # diff
    d = diff --word-diff
    dc = diff --cached
    dlc = diff --cached HEAD^
    dr = "!f() { git diff -w "$1"^.."$1"; }; f"
    # convenience
    empty = "!git commit -am\"[empty] Initial commit\" --allow-empty"
    f = "!git ls-files | grep -i"
    # log
    filelog = log -u
    fl = log -u
    gr = grep -Ii
    grep = grep -Ii
    # list all aliases
    la = "!git config -l | grep alias | cut -c 7-"
    lc = "!f() { git ll "$1"^.."$1"; }; f"
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [a:%an,c:%cn]" --decorate --numstat
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=relative
    r = reset
    # reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rem = "!git config -l | grep remote.*url | tail -n +2"
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard
    # stash
    sa = stash apply
    sl = stash list
    ss = stash save
    st = status -s
    undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"

[apply]
    whitespace = nowarn

[branch]
    autosetupmerge = true
    autosetuprebase = never

[color]
    branch = true
    diff = true
    status = true

[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    frag = magenta
    meta = yellow
    new = green
    old = red bold
    plain = white

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[commit]
    gpgsign = true

[core]
    autocrlf = input
    editor = nvim
    pager = delta

[credential "https://gist.github.com"]
    helper = !gh auth git-credential

[credential "https://github.com"]
    helper = !gh auth git-credential

[delta]
    dark = true
    line-numbers = true
    navigate = true
    side-by-side = true

[diff]
    mnemonicprefix = false

[fetch]
    prune = true

[help]
    autocorrect = 1

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[pull]
    default = current
    rebase = true

[push]
    default = simple

[rebase]
    autosquash = true

[rerere]
    enabled = true

[status]
    showUntrackedFiles = all

[user]
    email = 48670+vieko@users.noreply.github.com
    name = Vieko Franetovic
    signingkey = 16FBF1CF29A0CDAE
[gpg]
	program = /opt/homebrew/bin/gpg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
