credentials
*.log
.config/tmux/plugins/*
tmux/.config/tmux/plugins/*
cargo/.cargo/*
!cargo/.cargo/env
hypr/.config/hypr/host.conf
icons/.icons/
themes/.themes/
hypridle.conf.no_suspend
.opencode/
.claude/projects
.claude/statsig
.claude/todos
lazygit/.config/lazygit/state.yml
zed/.config/zed/prompts/prompts-library-db.*.mdb/
.DS_Store
